body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #87CEFA;
    margin:0px;
    padding:0px;
    width:100%;
}

h1 { 
    color: aliceblue; 
    font-family: 'Open Sans Condensed', sans-serif; 
    font-size: 40px; 
    font-weight: 700; 
    line-height: 64px; 
    margin: 0 0 0; 
    text-align: center; 
    text-transform: uppercase; 
}

.Top {
    color: lightcoral; 
    font-family: 'Libre Baskerville', serif; 
    font-size: 30px; 
    font-weight: 550; 
    line-height: 30px; 
    margin: 0 0 0; 
    text-align: center; 
    text-decoration: none;
}

.header {
    position: relative top;            /* position in the center of the screen */
    background-color: #F0F8FF;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    height:30px;                   /* text area height */
    width:auto;                   /* text area width */
    text-align:center;
}
.nav {
    background: lightcoral;
    text-decoration: none;
    color: #f0f8ff;
    font-size: 17px;
    text-transform: uppercase;
    float: left;
    width: 24%;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-style: solid;
    border-color: #f0f8ff;
    border-width: thick;
}

.container {
    position: relative;
    text-align: center;
    margin: auto;
    padding: auto;
    overflow: scroll;
    height: 420px;
}

.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: #f0f8ff;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
}

.profilepic {
    height: 100px;
    width: 100px;
    margin-top: 37px;
    border-radius: 50%;
}

.qr {
    height: 100px;
    width: 100px;
    margin-top: 37px;
}

.column{
    float: left;
    width: 33.33%;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.column2a{
    float: left;
    width: 50%;
    text-align: right;
    margin-left: -35px;
    padding-right: 10px;
    
}

.column2b{
    float:left;
    width: 50%;
    text-align: left;

}

.row2:after{
    content:"";
    display: table;
    clear: both;
}

h2 {
    color: aliceblue;
    padding-top: 30px;
}

h3 {
    color: aliceblue;
}

h4{
    color: aliceblue;
}

.atsign{
    float: left;
    margin-top: -0px;
    margin-right: -42px;
    margin-left: 39px;
}

.yourinfo {
    color: white;
    padding-top: 1px;
    margin-bottom: 60px;
}


.sun {
    height: 100px;
    width: 100px;
    margin-top: -22px;
    
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}