*{
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #87CEFA;
    margin:0px;
    padding:0px;
    width:100%;
}

.Top {
    color: lightcoral; 
    font-family: 'Libre Baskerville', serif; 
    font-size: 30px; 
    font-weight: 550; 
    line-height: 30px; 
    margin: 0 0 0; 
    text-align: center; 
    text-decoration: none;
}

.header {
    position: relative top;            /* position in the center of the screen */
    background-color: #F0F8FF;
    padding-top: 20px;
    padding-bottom: 50px;
    margin: auto;
    height:30px;                   /* text area height */
    width:auto;                   /* text area width */
    text-align:center;
}


form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
    margin-top: 120px;
}

form.example input {
    float: left;
    width: 20%;
    margin-top: 120px;
    padding: 10px;
    background: #2196f3;
    color: black;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.example input:hover {
    background: white;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.nav {
    background: lightcoral;
    text-decoration: none;
    color: #f0f8ff;
    font-size: 17px;
    text-transform: uppercase;
    float: left;
    width: 25%;
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-style: solid;
    border-color: #f0f8ff;
    border-width: thick;
}


.navbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
    background-color: #f0f8ff;
    padding-bottom: 20px;
    padding-top: 20px;
    margin: auto;
}

#myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #06bdf5; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li :hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }